In [7]:
# 1. How to import pandas and check the version?

import pandas as pd

pd.__version__

'1.0.1'

In [26]:
# 2. How to create a series from a list, numpy array and dict?
import numpy as np

# List
lsData=[10,20,30,40,50,60]
listSeries=pd.Series(lsData)
print("Series from List \n",listSeries)

# Numpy Array
naData=np.arange(10,101,10)
naSeries=pd.Series(naData)
print("Series from Numpy Array \n",naSeries)

# Numpy Dict
dictData={1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:'May',6:'Jun',
          7:'Jul',8:'Aug',9:'Sept',10:'Oct',11:'Nov',12:'Dec'}
dictSeries=pd.Series(dictData)
print("Series from Dictionary \n",dictSeries)

Series from List
 0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
Series from Numpy Array
 0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32
Series from Dictionary
 1      Jan
2      Feb
3      Mar
4      Apr
5      May
6      Jun
7      Jul
8      Aug
9     Sept
10     Oct
11     Nov
12     Dec
dtype: object

In [ ]:
# 3. How to convert the index of a series into a column of a dataframe?

In [28]:
# 4. How to combine many series to form a dataframe?

col1=pd.Series(np.arange(10,21))
col2=pd.Series(np.arange(50,61))
col3=pd.Series(np.arange(0,101,10))

colData=[col1,col2,col3]

df=pd.DataFrame(colData)
df

    0   1   2   3   4   5   6   7   8   9   10
0  10  11  12  13  14  15  16  17  18  19   20
1  50  51  52  53  54  55  56  57  58  59   60
2   0  10  20  30  40  50  60  70  80  90  100

In [31]:
# 5. How to assign name to the series’ index?

ds=pd.Series(np.arange(0,101,10),name='Name')
ds

0       0
1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
Name: Name, dtype: int32

In [53]:
# 6. How to get the items of series A not present in series B?

s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2=pd.Series([6,7,8,9,10,11,12,13,14,15])
for i in s1:
    if s1.eq(s2):
        print()
    else:
        print(i)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# 7. How to get the items not common to both series A and series B?

In [ ]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [ ]:
# 9. How to get frequency counts of unique items of a series?

In [ ]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [ ]:
# 11. How to bin a numeric series to 10 groups of equal size?

In [ ]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)

In [ ]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?

In [ ]:
# 14. How to extract items at given positions from a series?

In [ ]:
# 15. How to stack two series vertically and horizontally ?

In [ ]:
16. How to get the positions of items of series A in another series B?
17. How to compute the mean squared error on a truth and predicted series?
18. How to convert the first character of each element in a series to uppercase?
19. How to calculate the number of characters in each word in a series?
20. How to compute difference of differences between consequtive numbers of a series?
21. How to convert a series of date-strings to a timeseries?
22. How to get the day of month, week number, day of year and day of week from a series of
date strings?
23. How to convert year-month string to dates corresponding to the 4th day of the month?
24. How to filter words that contain atleast 2 vowels from a series?
25. How to filter valid emails from a series?
26. How to get the mean of a series grouped by another series?
27. How to compute the euclidean distance between two series?
28. How to find all the local maxima (or peaks) in a numeric series?
29. How to replace missing spaces in a string with the least frequent character?
30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that
having random numbers as values?
31. How to fill an intermittent time series so all missing dates show up with values of previous
non-missing date?
32. How to compute the autocorrelations of a numeric series?